:root {
  --borderWidth: 7px;
  --height: 24px;
  --width: 12px;
  --borderColor: #78b13f;
}

body {
  padding: 20px;
  text-align: center;
}

#searchBar {
  border-radius: 25px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

th {
  background-color: lightblue;
  color: #FFFFFF;
}
th, td {
  padding: 10px;
  border: 1px solid lightblue;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:first-child th:first-child {
  border-top-left-radius: 10px;
}
tr:first-child th:last-child {
  border-top-right-radius: 10px;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
tr:last-child td:last-child(2) {
  border-bottom-right-radius: 10px;
}
td:last-child {
  border: none;
  background-color: white;
}
table {
  border-radius: 15px;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
}

button:hover[type=submit] {
  background: darkblue;

}
button[type=submit] {
  width: 100%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  display: inline-block;
  background: #ADD8E6;
  height: 35px;
}
button:hover {
  background: darkblue;
}
button {
  border: none;
  border-radius: 15px;
  display: inline-block;
  width: 36%;
  background: #ADD8E6;
  margin: 12px;
  height: 35px;
  color: white;
  cursor: pointer;
}

.close {
  display: inline-block;
  width: 40px;
  height: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  margin-top: 30px;
  margin-bottom: 23px;
}
.close:before, .close:after {
  content:'';
  position: absolute;
  width: inherit;
  height: inherit;
  background: red;
}
.close:before {
  transform: rotate(-45deg);
}
.close:after {
  transform: rotate(45deg);
}
.check {
  display: inline-block;
  transform: rotate(45deg);
  height: var(--height);
  width: var(--width);
  border-bottom: var(--borderWidth) solid var(--borderColor);
  border-right: var(--borderWidth) solid var(--borderColor);
  margin-top: 15px;
  margin-bottom: 12px;
}

input[type=text], input[type=number] {
  width: 100%;
  padding: 12px 20px;
  display: block;
  box-sizing: border-box;
  border-radius: 25px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  font-size: 16px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
